@tailwind base;
@tailwind components;
@tailwind utilities;

/* typography */
@layer base {
  h1 {
    @apply uppercase text-3xl md:text-5xl lg:text-6xl font-black font-chivo;
  }
  h2 {
    @apply uppercase text-3xl md:text-5xl lg:text-6xl font-light font-chivo;
  }
  h3 {
    @apply capitalize text-xl md:text-3xl lg:text-4xl font-bold font-sans;
  }
  h4 {
    @apply text-xl md:text-3xl lg:text-4xl font-sans;
  }
  h5 {
    @apply text-lg md:text-2xl lg:text-3xl font-bold font-sans;
  }
  h6 {
    @apply text-lg md:text-2xl lg:text-3xl font-sans;
  }

  
  .lg-text {
    @apply text-lg md:text-xl lg:text-2xl font-sans;
  }
  body {
    @apply text-base md:text-lg lg:text-xl font-sans;
  }
  .sm-text{
    @apply text-sm md:text-base lg:text-lg font-sans;
  }
  .xs-text{
    @apply text-sm md:text-base lg:text-lg font-sans;
  }
}



/* make the map full screen */
#map {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}

/* invert the background, so the sea is white and land is black, and use brightness on each side to adjust the black and white points, and sepia to colorize it orange, and hue-rotate to change the hue to be a pale mossy blue instead of sepia orange */
.toner-background {
  filter: brightness(70%) invert() sepia() brightness(30%) hue-rotate(130deg);
}
.toner-lines {
  filter: invert() sepia() brightness(50%) saturate(210%) hue-rotate(-280deg);
}
.toner-labels {
  filter: invert() sepia() brightness(50%) saturate(560%) hue-rotate(-220deg);
}

.blur {
  filter: blur(4px);
-webkit-filter: blur(4px);
}

.cta-button-hero-section-home {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%)
}


ul {
  list-style-type: disc;
}


.social-snippet:last-child {
    border: none;
}

