.markdown p,
.markdown ol,
.markdown blockquote {
  @apply my-4;
}

.markdownNoMY p,
.markdownNoMY ol,
.markdownNoMY blockquote {
  @apply my-0;
}

.markdown ul {
  @apply my-4 pl-6;
}

.markdown li {
  @apply list-outside;
}
